export S3_BUCKET=CAMBIAME-tu-bucket-aqui
export PG_DSN="host=localhost dbname=usuarios_db user=app_ms1 password=TU_PASSWORD
export MONGO_URI="mongodb://root:TU_PASSWORD@localhost:27017/calificaciones_db?authSource=admin"
export AWS_DEFAULT_REGION=us-east-1
